.header {
  width: 100%;
  height: 7rem;
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
  align-items: center;
  background-color: #939c89;
  border-bottom: 12px solid rgb(14, 134, 143);
}

.logo {
  font-size: 2rem;
  color: rgb(83, 117, 148);
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-left: 1.5rem;
  font-size: 1.25rem;
}

.nav a {
  text-decoration: none;
  color: rgba(220, 223, 226, 0.945);
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: rgb(83, 117, 148);
}
